<html>
    <head>
        <title>testing</title>
        <link rel="stylesheet" href="css/style.css">
        
    </head>
    <body>
      <div class="box" id="heading">
        <h1><%= kindOfDay %></h1>
      </div>
        <div class="box"><% for(var i=0;i<newItems.length;i++) { %>
          <div class="item">
            <input type="checkbox">
            <p><%= newItems[i] %></p>
          </div>
          
          <% } %>
          <form class="item" action="/" method="post">
            <input type="text" name="newitems" placeholder="New Items"></input>
            <button type="submit" name="button">+</button> 
        </form>
        </div>
            
           
        
    </body>
</html>